{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Marginalia</h2>
    {{if .Texts}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Texts}}
                <tr>
                    <td><a href='/text/view/{{.ID}}'>{{.Title}}</a></td>
                    <td>{{.Created | colloquialDate}}</td>
                    <td>#{{.ID}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}